<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>DISPOSITIVO</th>
            <th>IMAGEN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{productos.iden}}</td>
            <td>{{productos.nombre}}</td>
            <td>{{productos.precio}}</td>
            <td>{{productos.dispositivo}}</td>
            <td>
                <img src="{{productos.imagen}}" alt="imagen" class="imagen">
            </td>
        </tr>
    </tbody>
</table>