<div class="container-fluid col-lg-9 col-md-10 mt-2">
    <h4>Misión</h4>
    <div class="m-5" style="text-align: justify;">
        <p>Ser una empresa que cumpla con las necesidades sociales y empresariales para el entretenimiento de nuestros compradores a nivel de las mas altas tecnología en videojuegos que contribuyan con la evolución de la humanidad a través del desarrollo de consolas para las personas y seguir ofreciéndoles mejor calidad a la hora de adquirir cualquier videojuegos. Y nuestra finalidad es la de crear juegos de fácil uso, que tengan sobresalientes niveles de rentabilidad, calidad, presencia e influencia en el mercado laboral.</p>
    </div>
    <hr>
    <h4>Visión</h4>
    <div class="m-5" style="text-align: justify;">
        <p>Ser una empresa de reconocido prestigio nacional e internacional, con autonomía administrativa, con excelencia en ventas de videojuegos, consumibles, realización de consolas y soporte, donde se brinde un producto de excelente calidad y en donde el mejoramiento continuo en todas las áreas sean de agrado a nuestros consumidores, de eficiente gestión, competitiva, con alianzas estratégicas en el ámbito nacional e internacional, comprometida con el servicio al cliente, la formación integral de su recurso humano y tecnológico. Y ser un ejemplo para la sociedad a lo que se refiere en buen servicio.</p>
    </div>
    <hr>
    <h4>Valores</h4>
    <div class="m-5" style="text-align: justify;">
        <p>RESPETO: Buscamos constantemente mantener la armonía en la relación con compañeros de trabajo, clientes y proveedores. LEALTAD: Tenemos un fuerte compromiso y mostramos fidelidad. Hacemos con respeto nuestras responsabilidades y manifestamos confidencialidad en los aconteceres de la Organización. HONESTIDAD: Siendo íntegros para recibir a cambio la confianza de clientes internos y externos. RESPONSABILIDAD: Cumplimos de manera oportuna y precisa con las actividades propias de cada puesto para escalar y llegar a las metas fijadas. COMPROMISO: Nos dedicamos a llegar al objetivo establecido y cumplimos responsablemente con las actividades propias del puesto. INNOVADOR: Promovemos el cambio permanente en nuestros procesos, productos y servicios como el medio más importante para estar cumpliendo las expectativas de nuestros clientes.</p>
    </div>
    <hr>
    <h4>Terminos y Condiciones</h4>
    <div class="m-5" style="text-align: justify;">
        <p>Al ingresar, revisar y comprar artículos usted se compromete a leer, a informarse y cumplir con los términos y condiciones de uso, además se obliga a respetar las políticas de privacidad. De conformidad con la legislación Ecuatoriana sobre las ventas online y para los criterios de importación a otro país.
            Le informamos que nuestra tienda de productos en linea "ML", podrá realizar modificaciones en cualquier momento de los términos y condiciones aquí descritas, de acuerdo con las políticas vigentes. En todo caso, sí éstos términos y condiciones llegasen a modificarse, le informaremos oportunamente.</p>
    </div>
</div>
