<div>
    <table class="container table table-dark table-hover">
        <thead>
            <tr>
                <th style="color: white;">Imagen</th>
                <th style="color: white;">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>
                    <img src="{{item.productos.producto1.imagen}}" alt="imagen" width="200">
                </td>
                <td>{{item.productos.producto1.precio}}</td>
            </tr>
            <tr *ngFor="let item of data">
                <td>
                    <img src="{{item.productos.producto2.imagen}}" alt="imagen" width="200">
                </td>
                <td>{{item.productos.producto2.precio}}</td>
            </tr>
            <tr *ngFor="let item of data">
                <td>
                    <img src="{{item.productos.producto3.imagen}}" alt="imagen" width="200">
                </td>
                <td>{{item.productos.producto3.precio}}</td>
            </tr>
        </tbody>
    </table>
    <div class="total">
        <p style="color: white;">Total a pagar = <b>$ 112,48</b></p>
    </div>
    
    <br>
    <div class="boton">
        <button class="button btn-success" (click)="imprimirFactura()">PAGAR</button>
    </div>
    
    <br>
</div>