<div class="detalle-productos">
    <h1>DETALLE DEL PRODUCTO EN OFERTA</h1>
    <hr>
    <div class="container">
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio normal</th>
                    <th>Precio oferta</th>
                    <th>Dispositivo</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{oferta.ofertas.iden}}</td>
                    <td>{{oferta.ofertas.nombre}}</td>
                    <td><s>{{oferta.ofertas.precioN}}</s></td>
                    <td>{{oferta.ofertas.precioO}}</td>
                    <td>{{ oferta.ofertas.dispositivo }}</td>
                    <td>
                        <div>
                            <img src="{{ oferta.ofertas.imagen }}" alt="imagen" class="imagenes">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="boton-volver">
        <h1><a href="ofertas"><i class="bi bi-arrow-left-square-fill"></i></a></h1>
    </div>
    <br>
</div>