<div>
    <table class="container table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio oferta</th>
                <th>Imagen</th>
                <th>Ver mas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hola</td>
                <td>Hola</td>
                <td>Hola</td>
                <td>Hola</td>
                <td>Hola</td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
