.ofertas{
    background-image: url("https://images.freeimages.com/images/premium/previews/4849/48497216-dark-grey-background-texture.jpg");
}

.tarjetas{
    margin-left: 30px;
}

div{
    text-align: center;
}