.ofertas{
    background-image: url("https://images.freeimages.com/images/premium/previews/4849/48497216-dark-grey-background-texture.jpg");
}

.mas{
    font-size: 50px;
    text-align: center;
}

.modal-body{
    background-image: url("https://cdn5.dibujos.net/dibujos/pintados/201229/robot-game-robots-pintado-por-ironcrizt-9755086.jpg");
}