<div class="ofertas">
    <div class="row">
        <div class="mas" *ngIf="validarRol(); else noAdmin">
            <a (click)="openModal(ofertas)"><i class="bi bi-plus-square-fill mas" style="color: black;"></i></a>
            <ng-template #ofertas>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Agregar ofertas</h4>
                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                        (click)="modalRef?.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-form-ofertas></app-form-ofertas>
                </div>
            </ng-template>
        </div>
        <ng-template #noAdmin></ng-template>
        <div>
            <br>
            <app-tabla-ofertas></app-tabla-ofertas>
        </div>
    </div>