<div class="ofertas">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="card tarjetas" style="width:430px">
                <img class="card-img-top" src="https://sm.ign.com/ign_in/screenshot/default/valorant-2_mdt7.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h3>Valorant PC</h3>
                    <h4 class="card-title" style="color: red;">Antes: $ <s>70.00</s></h4>
                    <h4 class="card-title" style="color: green;">Ahora: $ 55.00</h4>
                    <button type="button" class="btn btn-dark"><i class="bi bi-basket-fill"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card tarjetas" style="width:430px">
                <img class="card-img-top"
                    src="https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S1_2560x1440-5d74d9b240bba8f2c40920dcde7c5c67_2560x1440-5d74d9b240bba8f2c40920dcde7c5c67?h=270&quality=medium&resize=1&w=480"
                    alt="Card image">
                <div class="card-body">
                    <h3>Good of War PS3</h3>
                    <h4 class="card-title" style="color: red;">Antes: $ <s>38.50</s></h4>
                    <h4 class="card-title" style="color: green;">Ahora: $ 30.00</h4>
                    <button type="button" class="btn btn-dark"><i class="bi bi-basket-fill"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card tarjetas" style="width:430px">
                <img class="card-img-top" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2017/06/gta-san-andreas.jpg?tf=3840x" alt="Card image">
                <div class="card-body">
                    <h3>GTA San Andreas PC</h3>
                    <h4 class="card-title" style="color: red;">Antes: $ <s>56.00</s></h4>
                    <h4 class="card-title" style="color: green;">Ahora: $ 41.99</h4>
                    <button type="button" class="btn btn-dark"><i class="bi bi-basket-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="card tarjetas" style="width:430px">
                <img class="card-img-top" src="https://cdn.cloudflare.steamstatic.com/steam/apps/730/capsule_616x353.jpg?t=1698860631"
                    alt="Card image">
                <div class="card-body">
                    <h3>Counter Strike 2 PC</h3>
                    <h4 class="card-title" style="color: red;">Antes: $ <s>80.00</s></h4>
                    <h4 class="card-title" style="color: green;">Ahora: $ 67.69</h4>
                    <button type="button" class="btn btn-dark"><i class="bi bi-basket-fill"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card tarjetas" style="width:430px">
                <img class="card-img-top"
                    src="https://i.ytimg.com/vi/leM-d5wJaXQ/maxresdefault.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h3>Pes 2023 PS4</h3>
                    <h4 class="card-title" style="color: red;">Antes: $ <s>44.99</s></h4>
                    <h4 class="card-title" style="color: green;">Ahora: $ 36.00</h4>
                    <button type="button" class="btn btn-dark"><i class="bi bi-basket-fill"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card tarjetas" style="width:430px">
                <img class="card-img-top" src="https://cdn.akamai.steamstatic.com/steam/apps/292730/capsule_616x353.jpg?t=1646764561" alt="Card image">
                <div class="card-body">
                    <h3>Call of Duty®: Infinite Warfare</h3>
                    <h4 class="card-title" style="color: red;">Antes: $ <s>21.10</s></h4>
                    <h4 class="card-title" style="color: green;">Ahora: $ 12.25</h4>
                    <button type="button" class="btn btn-dark"><i class="bi bi-basket-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
