<div class="m-5 row">
    <div class="col-lg-4">
        <h5>Como llegar:</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63836.19852935962!2d-78.56164901106585!3d-0.30332981045757246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5991f7dc1cd71%3A0xc549df0ec541ebbf!2sUniversitario%20Quito%20Metropolitano!5e0!3m2!1ses-419!2sec!4v1698456772745!5m2!1ses-419!2sec" width="400" height="400" style="border:0; border-radius: 10%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-lg-4">
        <h5>Telefonos de Contacto:</h5> 
        <p>099999999 / 0222222222</p>
        <h5>Redes Sociales:</h5> 
        <ul>
            <li>
                <a href="https://facebook.com/"><h3><i class="bi bi-facebook"></i></h3></a>
            </li>
            <li>
                <a href="https://instagram.com"><h3><i class="bi bi-instagram"></i></h3></a>
            </li>
            <li>
                <a href="https://twitter.com"><h3><i class="bi bi-twitter-x"></i></h3></a>
            </li>
        </ul>
        <h5>Pasate por nuestras transmisiones en vivo:</h5>
        <a href="https://www.twitch.tv/"><h3><i class="bi bi-twitch"></i></h3></a>
    </div>
    <div class="col-lg-4">
        <h5>Correo Electrónico:</h5>
        <p>contacto@ml.com</p>
    </div>
</div>
