div{
    text-align: center;
    background-image: url("https://img.freepik.com/fotos-premium/estrella-fondo-negro-fondo-pantalla-negro-estrellas_764067-1427.jpg");
}

.img{
    height: 220px;
    width: 350px;
}