.boton{
    color: white;
}

.modal-body{
    background-image: url("https://cdn5.dibujos.net/dibujos/pintados/201229/robot-game-robots-pintado-por-ironcrizt-9755086.jpg");
}

.iconos{
    font-size: 28px;
}