<form>
    <br>
    <div class="mb-1">
        <label for="usuario" class="form-label">Usuario:</label>
        <input type="text" class="form-control" id="usuario" aria-describedby="usuario">
    </div>
    <br>
    <div class="mb-1">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <br>
    <div class="boton">
        <button type="submit" class="btn btn-primary mt-1">Iniciar Sesión</button>
    </div>
</form>
