<div class="productos m-0">
    <div class="boton-mas" *ngIf="validarRol(); else noAdmin">
        <a (click)="openModal(productos)"><i class="bi bi-plus-square-fill mas" style="color: black;"></i></a>
        <ng-template #productos>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Agregar productos</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-form-productos></app-form-productos>
            </div>
        </ng-template>
    </div>
    <ng-template #noAdmin></ng-template>
    <div class="tabla-productos">
        <br>
        <app-tabla-productos></app-tabla-productos>
    </div>
</div>
