.boton-volver{
    text-align: center;
}

.boton-añadir{
    text-align: center;
}

i{
    font-size: 70px;
}

.detalle-productos{
    background-image: url("https://images.freeimages.com/images/premium/previews/4849/48497216-dark-grey-background-texture.jpg");
}

h1{
    text-align: center;
    color: white;
}

.imagenes{
    height: 300px;
    width: 300px;
}