<div class="detalle-productos">
    <h1>DETALLE DEL PRODUCTO</h1>
    <hr>
    <div class="container">
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th style="color: white;">ID</th>
                    <th style="color: white;">Nombre</th>
                    <th style="color: white;">Precio</th>
                    <th style="color: white;">Dispositivo</th>
                    <th style="color: white;">Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{producto.iden}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.dispositivo }}</td>
                    <td>
                        <div>
                            <img src="{{ producto.imagen }}" alt="imagen" class="imagenes">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="boton-añadir col-lg-6">
            <h1><a href=""><i class="bi bi-cart-plus-fill" style="color: black;"></i></a></h1>
        </div>
        <div class="boton-volver col-lg-6">
            <h1><a href="productos"><i class="bi bi-arrow-left-square-fill" style="color: black;"></i></a></h1>
        </div>
        
    </div>
    <button class="button btn-success" (click)="imprimirFactura()">prueba</button>
    <br>
</div>

