<form (ngSubmit)="saveUsuarios(form)" #form="ngForm">
    <div class="mb-1">
        <label for="id" class="form-label">ID:</label>
        <input type="number" class="form-control" name="id" [(ngModel)]="id">
    </div>
    <div class="mb-1">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
    </div>
    <div class="mb-1">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" class="form-control" name="apellido" [(ngModel)]="apellido">
    </div>
    <div class="mb-1">
        <label for="edad" class="form-label">Edad:</label>
        <input type="number" class="form-control" name="edad" [(ngModel)]="edad">
    </div>
    <div class="mb-1">
        <label for="genero" class="form-label">Género:</label>
        <input type="text" class="form-control" name="genero" [(ngModel)]="genero">
    </div>
    <div class="mb-1">
        <label for="usuario" class="form-label">Usuario:</label>
        <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario">
    </div>
    <div class="mb-1">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password">
    </div>
    <div class="mb-1">
        <label for="rol" class="form-label">Rol:</label>
        <input type="text" class="form-control" name="rol" [(ngModel)]="rol">
    </div>
    <div class="boton">
        <button type="submit" class="btn btn-primary mt-1">Registrar</button>
    </div>
</form>